## Programa Ingenias+ Data Science

## Trabajando con Pandas

1) Importa las librerias requeridas: `Pandas` y `NumPy`.  

Una buena practica a la hora de escribir codigo es de comentar siempre que estoy haciendo (usando `#`) en la linea anterior. Por mas obvio que parezca lo que voy a hacer, puede ser que tenga que compartir el documento con otras personas y no sepan que quise hacer en cada linea. O que yo mismo lea el codigo tiempo despues y no recuerde porque lo hice.

In [15]:
#importa numpy
import numpy as np
#importa pandas
import pandas as pd

2) Lee el archivo csv `life_expectancy_data` usando `pandas`. Guardalo en una variable llamada `expvida`.

In [2]:
# Leo los datos en un DataFrame
expvida = pd.read_csv('life_expectancy_data.csv', delimiter=',')

3) ¿Que tipo de estructura de datos contiene la variable `expvida`?

In [ ]:
# Obtengo el tipo de estructura de datos
type(expvida)

4) ¿Cuantas filas y columnas tiene `expvida`?

In [17]:
# Uso .shape para obtener cantidad de filas y columnas
expvida.shape

(2938, 22)

**Numero de filas**:

**Numero de columnas**:

5) ¿Cual es el nombre de las columnas contenidas en `expvida`?

In [18]:
# Obtengo el nombre de las columnas
expvida.columns

Index(['Country', 'Year', 'Status', 'life_expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'measles', 'bmi', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

6) Inspecciona las primeras 10 filas de `expvida`

In [ ]:
# Inspecciono las primeras filas
expvida.head(10)

7) Y ahora las 10 ultimas.

In [ ]:
# Inspecciono las ultimas filas
expvida.tail(10)

8) ¿Que tipos de datos contiene cada una de las columnas de `expvida`?

In [ ]:
# Tipo de datos en cada columna
expvida.dtypes

9) ¿Hay valores faltantes en alguna de las columnas de `expvida`?

In [ ]:
# Obtengo la cantidad de datos faltantes en cada columna
expvida.isnull().sum()

10) Selecciona el maximo de datos faltantes. Calcula que porcentaje de los datos representan los datos faltantes.

In [ ]:
# Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan

In [ ]:
masnan = expvida.isnull().sum().max()

In [ ]:
# Obtengo la cantidad de filas total y divido el maximo valor de datos faltantes por este numero
# y lo multiplico por 100
maximo = (masnan/ len(expvida)) *100

In [ ]:
# Imprimo el maximo porcentaje de datos faltantes. Uso f-strings.
f"El maximo porcentaje de datos faltantes corresponde a la variable Population y es {round(maximo,2)}%"

'El maximo porcentaje de datos faltantes corresponde a la variable Population y es 22.19%'

- str.format()
- Template Class
- f-strings

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

Una función útil para este fin es: `.rename()`. Y podemos utilizarla de la siguiente manera: Si `df` es mi DataFrame y quiero renombrar la columna `columna` como `columna1`, y la columna `columna2` como `columna3`, utilizo la siguiente sintaxis:
  
`df.rename(columns={"columna": "columna1", "columna2": "columna3"}, inplace=True)`

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [12]:
# Renombro columnas del DataFrame

expvida.rename(columns={"Life expectancy ": "life_expectancy", " BMI ": "bmi","Measles ": "measles"}, inplace=True)

In [ ]:
# Chequeo que se hayan reemplazado correctamente
expvida.columns

12) ¿Cual es el promedio de expectativa de vida (Life expectancy) en general?

In [ ]:
# Obtengo el promedio de la columna

In [5]:
print(expvida["life_expectancy"].mean())

69.22493169398908

13) ¿Cual es el promedio de expectativa de vida (Life expectancy) por país?

In [ ]:
# Obtengo el promedio por pais
expvida.groupby("Country").mean(numeric_only=True)

14) ¿Cual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¿Que paises tienen esas expectativas de vida?

In [7]:
# Maxima expectativa de vida usando numpy
np.max(expvida["life_expectancy"])

89.0

In [ ]:
# Maxima expectativa de vida usando pandas
expvida["life_expectancy"].max()

89.0

In [ ]:
# Minima expectativa de vida usando numpy
np.min(expvida["life_expectancy"])

36.3

In [123]:
# Minima expectativa de vida usando pandas

expvida["life_expectancy"].min()

36.3

In [ ]:
# Muestro los resultados maximos
print(np.max(expvida["life_expectancy"]))
print(expvida["life_expectancy"].max())

89.0
89.0

In [ ]:
# Muestro los resultados minimos
print(np.min(expvida["life_expectancy"]))
print(expvida["life_expectancy"].min())

36.3
36.3

In [ ]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al maximo

print(expvida[expvida["life_expectancy"]==89.0])

In [ ]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al minimo
print(expvida[expvida["life_expectancy"]==36.3])

15) ¿Cuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la función [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [ ]:
# Obtengo los valores unicos de la columna status
print(expvida["Status"].unique())

['Developing' 'Developed']

16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la función [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [185]:
# Cuento cuantos valores hay de cada categoria
print(expvida.groupby(["Status"]).value_counts())

Status      Country    Year  life_expectancy  Adult Mortality  infant deaths  Alcohol  percentage expenditure  Hepatitis B  measles  bmi   under-five deaths   Polio  Total expenditure  Diphtheria    HIV/AIDS  GDP           Population   thinness  1-19 years   thinness 5-9 years  Income composition of resources  Schooling
Developed   Australia  2001  79.9             75.0             1              9.53     3064.301144             94.0         141      59.0  2                   91.0   8.18               92.0         0.1        19517.841680  19413.0     0.7                    0.7                  0.899                            20.5         1
                       2002  79.9             73.0             1              9.84     46.387182               95.0         32       59.6  2                   92.0   8.39               92.0         0.1        281.817630    196514.0    0.7                    0.7                  0.902                            20.1         1
            Romania    2011  74.3             139.0            2              9.10     10.325889               96.0         4189     57.7  2                   89.0   5.53               89.0         0.1        92.277825     2147528.0   2.9                    3.1                  0.798                            15.7         1
            Spain      2006  88.0             73.0             2              11.86    4460.390006             97.0         362      61.1  2                   98.0   8.23               98.0         0.1        28482.694800  44397319.0  0.6                    0.5                  0.844                            15.9         1
                       2005  81.0             77.0             2              11.92    405.447598              96.0         22       6.5   2                   96.0   8.12               96.0         0.1        2651.717450   43653155.0  0.6                    0.5                  0.837                            15.8         1
                                                                                                                                                                                                                                                                                                                                    ..
Developing  Colombia   2001  71.5             165.0            17             4.43     404.420586              8.0          3        47.5  21                  83.0   5.96               8.0          0.1        2395.856551   498899.0    2.5                    2.3                  0.653                            11.4         1
                       2000  71.4             167.0            18             4.66     477.134181              78.0         1        46.7  21                  82.0   5.91               79.0         0.1        2472.197831   443958.0    2.6                    2.3                  0.650                            11.3         1
            China      2014  75.8             86.0             171            5.78     109.874390              99.0         52628    31.9  198                 99.0   5.55               99.0         0.1        7683.523800   136427.0    3.7                    3.0                  0.723                            13.1         1
                       2013  75.6             88.0             185            5.79     9.955532                99.0         26883    3.9   216                 99.0   5.39               99.0         0.1        777.775940    135738.0    3.8                    3.2                  0.713                            12.7         1
            Zimbabwe   2014  59.2             371.0            23             6.50     10.822595               91.0         0        31.3  34                  92.0   6.44               91.0         6.3        127.474620    15411675.0  5.9                    5.7                  0.498                            10.3         1
Name: count, Length: 1649, dtype: int64

18) ¿Cuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la función [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [173]:
# Cuento cuantas filas tienen valores distintos de cero
print(expvida.Country[(expvida["Year"]==2015) & (expvida["measles"]!=0)].count())

121